/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}


/* Cabeçalho */
.header{
    padding: 5px 10px;
    /* background-color: rgb(255, 0, 0); */
}

.header img{
    width: 100vw;
   
}

.header span{
    display: none;
}


/* Conteúdo principal */
.main-containt{
    padding: 5px 10px;
    justify-content: start;
}

.main-containt h1{
    font-size: 130%;
}

.register-property{
    /* background-color: #aaa; */
    width: 25vw;
}

.register-property p{
    background-color: transparent;
    color: transparent;
}

.register-property p.p-address{
    background-color: transparent;
    color: #151515;
    left: 0%;
    top: 5%;
    font-size: 2rem;
    transform: translateX(113%);
    font-weight: 400;
}


.progress-bar{
    padding-left: 10px;
}

.progress-bar .blue-ball{
    width: 30px;
    height: 30px;
}

.progress-bar .grey-ball{
    width: 30px;
    height: 30px;
}

.button-container{
    width: 300px;
    position: absolute;  
    bottom: 0; 
    
    
    

}
