/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}

/* Cabeçalho */
.header{
    gap: 10px;
    padding: 0px 0px 40px;
}

.header img{
    width: 10rem;
    margin: 0 auto;
}

.header h2{
    font-size: 19px;
}

/* CONTEÚDO PRINCIPAL */


.retangle{
    width: 320px;
    height: 75%;
}

.button-container{
    display: flex;
    gap: 20px;
}

.button-container button a {
    padding: 8px 29px;
}

.button-container button .register-button {
    padding: 8px 15px;
    
}
