/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}


/* Cabeçalho */
.header{
    height: 10vh;
    padding: 0px 15px;
}

.header img{
    width: 45vw;
}

.header span{
    display: none;
}


/* Conteúdo principal */
.main-containt{
    /* background-color: #ccc; */
    padding: 5px 10px;
    justify-content: start;
}

.register-property{
    /* background-color: #aaa; */
    width: 25vw;
    
}

.register-property p{
    background-color: transparent;
    color: transparent;
}

.register-property .p-address{
    background-color: transparent;
    color: transparent;
}

.register-property p.p-characteristics{
    background-color: transparent;
    color: transparent;
}

.register-property p.p-measurements{
    background-color: transparent;
    width: 100%;
    color: #151515;
    left: 5%;
    top: 5%;
    font-size: 2rem;
    transform: translateX(113%);
    font-weight: 400;
}

.retangle{
    height: 75%;
}

.property-information form{
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 3vw 0px 10px;
    gap: 10px;
    
}

.property-information .input-container{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.progress-bar{
    padding-left: 10px;
}

.progress-bar .blue-ball{
    width: 30px;
    height: 30px;
}

.progress-bar .grey-ball{
    width: 30px;
    height: 30px;
}

.button-container{
    width: 300px;
    position: absolute;  
    bottom: 0;  
    padding: 0px 0px 1px 0px;
}
