/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}


/* Cabeçalho */
.header{
    padding: 5px 10px;
    background-color: rgb(255, 0, 0);
}

.header img{
    width: 45vw;
}

.header span{
    display: none;
}


/* Conteúdo principal */
.main-containt{
    padding: 5px 10px;
    justify-content: start;
}

.progresss-bar{
    display: none;
}