/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    padding: 0px !important;
    box-sizing: border-box;
    border: 0px;
}

header{
    padding: 0 !important;
    margin: 0 !important;
}

body{
    overflow-x: hidden;
    font-family: "Red Hat Display", sans-serif;
}

header h1{
    text-align: center;
}

.header img{
    margin: 0 auto;
    width: 20em;
}

.header span{
    display: none;
}

.main-containt h1{
    font-size: 130%;
}

.main-containt .icon-local{
    width: 5%;
    height: 30%;
}

.retangle{
    margin: 0 auto 2em auto!important;
    padding: 2em 2em 4em 2em!important;
    height: 100;
    gap: 2em;
}

.register-property{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.property-information{
    /* background-color: lime; */
    width: 100%;
}

.progress-bar .p-address, .p-characteristics, .p-measurements, .p-property, .p-result{    
    display: none;
}

.container-informations{
    align-items: start;
    /* background-color: aqua; */
    width: 100%;
    height: 90%;
}

.first-informations{
    /* background-color: #ccc; */
    width: 100%;
    height: 25%;
}

.second-informations{
    flex-direction: column;
}

.second-informations .simulation-result-1, .simulation-result-2{
    width: 100%;
}

.see-informations
{
    /* background-color: red; */
    width: 90%;
    font-size: 90%;
}

.study-level{
    position: relative;
    text-align: center;
    margin: 0 auto .5em auto !important;
    padding: .2em .5em !important;
    width: min-content;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 2em !important;
    align-items: center;
}

.button-container button a, .button-container a{
    text-align: center;
}

.button-container button a{
    display: flex;
    padding: 0 !important;
    width: 28.5em;
    height: 3.2em;
    justify-content: center;
    align-items: center;
}

.button-container a{
    padding: .7em 10.1em !important;
}

.loading-screen{
    height: 100% !important;
    margin-left: -.6em !important;
}

.loader{
    width: 90px;
    padding: 2px !important;
    display: flex;
}