<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/characteristics.css" /> 

    <script src="https://kit.fontawesome.com/76453bfcde.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Canaã Imóveis</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>

<body>
    <div class="allThings"> <!--Div para tudo -->
        <div class="image"> 
            <img src="assets/Img/main_logo_canaa.png" alt="LargeLogoCanaã">
        </div>
        <!--precisamos arrumar este link abaixo -->
            <p class="tetocalc"> <a href="anotherteste.page.html">Home</a> > TetoCalc</p>
                <h1>Descubra Quanto Vale o Seu Imóvel:</h1>

        <div class="RectangleObjects"> <!--Retângulo com bordas -->

            <a href="https://www.google.com" class="bola-link"> <!--Testes das bolas \o/ -->
                <div class="bola"></div>
                <span class="texto">Imóvel</span>
            </a>
            

                <div class="ListBoxes"> <!-- Uma div para as opções de lista-->
                    <p class="options">Quartos *</p>
                        <form action="">
                            <select name="typeProperty" id="typeProperty" class="list">
                                <option value="teste2"></option>
                                <option value="One">1</option>
                                <option value="Two">2</option>
                                <option value="Three">3</option>
                                <option value="Four">+4</option>
                            </select>
                        </form>
                                
                        <p class="options">Suites *</p>
                            <form action="">
                                <select name="pretension" id="pretension" class="list">
                                    <option value="teste2"></option>
                                    <option value="One">1</option>
                                    <option value="Two">2</option>
                                    <option value="Three">3</option>
                                    <option value="Four">+4</option>
                                </select>
                            </form>

                            <p class="options">Banheiros *</p>
                            <form action="">
                                <select name="pretension" id="pretension" class="list">
                                    <option value="teste2"></option>
                                    <option value="One">1</option>
                                    <option value="Two">2</option>
                                    <option value="Three">3</option>
                                    <option value="Four">+4</option>
                                </select>
                            </form>
                              
                            <p class="options">Vagas *</p>
                            <form action="">
                                <select name="pretension" id="pretension" class="list">
                                    <option value="teste2"></option>
                                    <option value="One">1</option>
                                    <option value="Two">2</option>
                                    <option value="Three">3</option>
                                    <option value="Four">+4</option>
                                </select>
                            </form>
                </div>
                <a href="../components/address.html" >
                    <button>Voltar</button>
                </a>

                <a href="../components/measurements.html" >
                    <button>Avançar</button>
                </a>
            </div>
        </div>
    






</body>
</html>

