/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
    /* height: ; */
}


/* Cabeçalho */
.header{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 15vw;
}

.header img{
    width: 20vw;
}

.header span{
    display: flex;
    gap: 5px;
}

.header span a{
    text-decoration: none;
    color: #151515;
}

.header span p{
    font-style: italic;
    color: #aaa;
}


/* Conteúdo principal */
.main-containt{
    width: 100%;
    height: 80vh;
    padding: 0px 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.main-containt h1{
    font-weight: 400;
    font-size: 2.5rem;
}

.register-property{
    width: 40vh;
    height: 100%;
}

.register-property p{
    background-color: #497EDA;
    position: absolute;
    top: 25px;
    right: -14px;
    padding: 1px 64px 1px 5px;
    color: #fff;
    font-weight: 600;
}

.register-property .p-address{
    background-color: #497EDA;
    position: absolute;
    top: 100px;
    right: -13px;
    padding: 1px 42px 1px 5px;
    color: #fff;
    font-weight: 600;
}

.retangle{
    position: relative;
    width: 100%;
    height: 70%;
    border: 1px solid #eee;
    display: flex;
    padding-right: 3vw;
}

.progress-bar{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.progress-bar .blue-ball{
    width: 40px;
    height: 40px;
    background-color: #497EDA;
    border-radius: 50%;
}

.progress-bar .grey-ball{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.progress-bar .line{
    width: 2px;
    background-color: #D9D9D9;
    position: absolute;
    z-index: -1;
}

.progress-bar #grey-line{
    height: 73.8%;
    bottom: 25px;
}

.progress-bar #blue-line{
    background-color: #497EDA;
    height: 30%;
    top: 10%;
    z-index: 1;
}

.property-information{
    width: 73%;
    height: 100%;
    display: flex;
    align-items: center;
}

.property-information form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0px 3vw 0px 10px;
    gap: 20px;
    
}

.property-information .input-container{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property-information form label{
    font-weight: bold;
}

.property-information form .city-list, .neighborhood-list{
    width: 100%;
    height: 5vh;
    outline: 0px;
    border: 1px solid #cacaca;
    padding: 0px 10px;
    border-radius: 2.5px;
    font-family: "Red Hat Display", sans-serif;
}

/* .property-information form input{
    width: 100%;
    height: 5vh;
    outline: 0px;
    border: 1px solid #cacaca;
    padding: 0px 10px;
    border-radius: 2.5px;
} */

.button-container{
    
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button a{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: #3D3F92;
    padding: 8px 40px;
    border-radius: 3.5px;
    border: none;
}

.button-container a{
    display: inline-block;
    color: #151515;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid#151515;
    background-color: #fff;
    padding: 6px 40px;
    border-radius: 3.5px;
}


