img{
    margin-top: 8px;
    height: 64px;
}

.allThings{
    margin-left: 119px;
}

.tetocalcParagraphs {
    display: inline-block;
}

p.tetocalc1{
    margin-top: 29px;
    font-family: "Red Hat Display", sans-serif;
    font-size: 13px;
    color: #858584;
    text-decoration: none;
}

p.tetocalc2{
    margin-top: 29px;   
    font-family: "Red Hat Display", sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #9c9c9c;
    text-decoration: none;
}

p.options{
    margin-bottom: 4px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
}

h1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Red Hat Display", sans-serif;
}

.ListBoxes{
    position: absolute;
    right: 0;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

button{
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 383px;
    margin-top: 25px;
    background-color: #3D3F92;
    color: white;
    padding: 10px 45px 10px;
}

.list{
    border-radius: 1px;
    font-family: "Red Hat Display", sans-serif;
    padding: 5px 230px 5px;
}

.RectangleObjects{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #dcdbdb; /* Define a borda do retângulo */
    padding: 30px 50px;
    width: 80% /* Define a largura do retângulo */
}


.blueBoll{
    width: 50px;
    height: 50px;
    background-color: #497EDA;
    border-radius: 50%; /* Faz com que a div tenha forma de círculo */
}

.greyBoll{
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 50%; /* Faz com que a div tenha forma de círculo */
}

.wire{
    margin-left: 24.2px;
    width: 2px;
    height: 50px;
    background-color: #D9D9D9;
}


.circleText{
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 65px;
    width: 120px;
    background-color: #497EDA;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    padding: 2px 4px; 
}

.bola-link {
    display: inline-block; /* Faz com que o link tenha o tamanho do conteúdo */
    text-decoration: none; /* Remove sublinhado do link */
  }