img{
    margin-top: 8px;
    height: 64px;
    
}

.allThings{
    margin-left: 119px;
}

.tetocalcParagraphs {
    display: inline-block;
    
}
p.tetocalc1{
    margin-top: 29px;
    font-family: "Red Hat Display", sans-serif;
    font-size: 13px;
    color: #858584;
    text-decoration: none;
}

p.tetocalc2{
    margin-top: 29px;   
    font-family: "Red Hat Display", sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #9c9c9c;
    text-decoration: none;

}

p.options{
    margin-bottom: 4px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
}

h1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Red Hat Display", sans-serif;
}

.ListBoxes{
    margin-top: 29px;
    margin-left: 450px;
    
}

button{
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 383px;
    margin-top: 25px;
    background-color: #3D3F92;
    color: white;
    padding: 10px 45px 10px;
}

.list{
    border-radius: 1px;
    font-family: "Red Hat Display", sans-serif;
    padding: 5px 230px 5px;
}

.RectangleObjects{
    border: 1px solid #dcdbdb; /* Define a borda do retângulo */
    padding: 20px 0px 135px; /* Adiciona espaço interno ao retângulo */
    width: 1170px; /* Define a largura do retângulo */
}

/*.allBolls{
    background-color: red;
    width: 200px;

}*/

.blueBoll{
    margin-top: 20px;
    margin-left: 80px;
    width: 50px;
    height: 50px;
    background-color: #497EDA;
    border-radius: 50%; /* Faz com que a div tenha forma de círculo */
    display: inline-block;
    vertical-align: middle;
}

.greyBoll{
    margin-left: 80px;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 50%; /* Faz com que a div tenha forma de círculo */
}

.wire{
    margin-left: 104px;
    width: 2px;
    height: 50px;
    background-color: #D9D9D9;
}


.texto{
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 10px;
    width: 120px;
    background-color: #497EDA;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    padding: 2px 0px 2px;

}

.bola-link {
    display: inline-block; /* Faz com que o link tenha o tamanho do conteúdo */
    text-decoration: none; /* Remove sublinhado do link */
  }




