/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}


/* Cabeçalho */
.header{
    width: 100%;
    height: 29vh;
    display: flex;
    flex-direction: column;
    gap: 30.5px;
    padding: 16px 0px 0px 11.3vw;
    /* background-color: red; */
}

.header img{
    width: 16.5vw;
}

.header span{   
    display: flex;
    gap: 5px;
}

.header span a{
    font-size: 80%;
    text-decoration: none;
    /* color: #151515; */
}

.header span p{
    font-size: 80%;
    font-style: italic;
    color: #aaa;
}

.header h1{
    font-weight: 400;
    font-size: 2.5rem;
    color: #353535;
    /* background-color: #151515; */
}



/* Conteúdo principal */
.main-containt{
    width: 100%;
    height: 80vh;
    padding: 0px 11.3vw;
}

/* .register-property{
    width: 40vh;
    height: 100%;
} */

.retangle{
    width: 100%;
    height: 85%;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.progress-bar{
    width: 100%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* background-color: aqua; */
}

.progress-bar .blue-ball, .grey-ball{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.progress-bar .blue-ball{
    background-color: #497EDA;
}

.progress-bar .grey-ball{
    background-color: #D9D9D9;
    
}

.progress-bar .line{
    background-color: #D9D9D9;
    position: absolute;
    z-index: -1;
}

.progress-bar #grey-line{
    height: 0.1rem;
    width: 10%;
    right: 10%;
}

.progress-bar #blue-line{
    background-color: #497EDA;
    width: 80%;
    height: 0.1rem;
    /* z-index: -0; */
}   

.property-information{
    width: 100%;
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    /* background-color: #151515; */
}
.property-information form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 20px;
    /* background-color: #151515; */
    
}

.property-information .input-container{
    width: 60%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #151515; */

}

.property-information form label{
    font-weight: bold;
    color:#484747;
}

.property-information form input{
    width: 100%;
    height: 15vh;
    outline: 0px;
    border: 1px solid #cacaca;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}

.button-container{
    
    width: 60%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #151515; */
}

.button-container button a{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: #3D3F92;
    padding: 15px 100px;
    border-radius: 3.5px;
    border: none;
}

.button-container a{
    display: inline-block;
    color: #151515;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid#cacaca;
    background-color: #fff;
    padding: 13px 100px;
    border-radius: 5px;
}

.button-container .back{
    color: #868080;
}

form label{
    position: relative;
}

form label span{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    border-radius: 50%;
    padding: .2em .5em;
    background-color: #3D3F92;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

form label span:hover{
    transform: translateY(-2px);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    display: none;
    transition: all .2s ease-in-out;
}

.help-pop-up{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin: auto;
    width: 50%;
    height: max-content; 
    background-color: white;
    gap: 1em;
    border-radius: 3px;
    z-index: 10000;
    padding: 3em 2em;
    transition: all .2s ease-in-out;
}

.help-pop-up:hover{
    transform: translateY(-2px);
}

.help-pop-up h1{
    align-self: flex-start;
    padding: 0 !important;
    margin: 0 !important;
}

.help-pop-up p{
    font-size: 19px;
    align-self: flex-start;
    flex-wrap: wrap;
}

.close-button{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    cursor: pointer;
    border-top-right-radius: 2px;
    padding: .7em 1em;
    transition: all .2s ease-in-out;
}

.close-button:hover{
    background-color: red;
    color: white;
}