/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset das estilizações padrões */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body{
    width: 100%;
    font-family: "Red Hat Display", sans-serif;
}


/* Cabeçalho */
.header{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 0 0 11.3vw;
    /* background-color: red; */
}

.header img{
    width: 16.5vw;
}

.header span{   
    display: flex;
    gap: 5px;
    height: max-content;
    margin-bottom: -1em;
}

.header span a{
    font-size: 80%;
    text-decoration: none;
    /* color: #151515; */
}

.header span p{
    font-size: 80%;
    font-style: italic;
    color: #aaa;
}

.header h1{
    font-weight: 400;
    font-size: 2rem;
    color: #353535;
    /* background-color: #151515; */
}

/* Conteúdo principal */
.main-containt{
    width: 100%;
    padding: 0px 11.3vw;
}

.main-containt .join-text-image{
    display: flex;
    align-items: center;
    gap: 1%;
}

/* .register-property{
    width: 100%;
    height: 100%;
} */

/* .register-property .p-property{
    background-color: #497EDA;
    position: absolute;
    top: 25px;
    right: -14px;
    padding: 1px 64px 0px 5px;
    color: #fff;
    font-weight: 600;
}

.register-property .p-address{
    background-color: #497EDA;
    position: absolute;
    top: 100px;
    right: -13px;
    padding: 1px 42px 1px 5px;
    color: #fff;
    font-weight: 600;
}

.register-property .p-characteristics{
    background-color: #497EDA;
    position: absolute;
    top: 171px;
    right: -12px;
    padding: 1px 5px 1px 3px;
    color: #fff;
    font-weight: 600;
}

.register-property .p-measurements{
    background-color: #497EDA;
    position: absolute;
    top: 245px;
    right: -12px;
    padding: 1px 52px 1px 3px;
    color: #fff;
    font-weight: 600;
}

.register-property .p-result{
    background-color: #497EDA;
    position: absolute;
    top: 320px;
    right: -12px;
    padding: 1px 42px 1px 3px;
    color: #fff;
    font-weight: 600;
} */

.retangle{
    position: relative;
    width: 100%;
    height: 85%;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.progress-bar{
    width: 100%;
    height: max-content;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* background-color: aqua; */
}

.progress-bar .blue-ball, .grey-ball{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.progress-bar .blue-ball{
    background-color: #497EDA;
}

.progress-bar .grey-ball{
    background-color: #D9D9D9;
    
}

.progress-bar .line{
    background-color: #D9D9D9;
    position: absolute;
    z-index: -1;
}

.progress-bar #grey-line{
    height: 2%;
    width: 83%;
}

.progress-bar #blue-line{
    background-color: #497EDA;
    padding: 2px 480px 0px 40p;
}

.text-progress-bar{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16%;
    padding-top: 30px;

}

/* .text-progress-bar p{
    background-color: #497EDA;
    color: #fff;
    font-weight: 600;
}

.text-progress-bar .p-property{
    padding: 0px 70px 1px 5px;
}

.text-progress-bar .p-address{
    padding: 0px 48px 1px 5px;
}

.text-progress-bar .p-characteristics{
    padding: 0px 10px 1px 5px;
}

.text-progress-bar .p-measurements{
    padding: 0px 57px 1px 5px;
}

.text-progress-bar .p-result{
    padding: 0px 45px 1px 5px;  
} */

.property-information{
    position: relative;
    padding: 2.5em 5em 0 5em;
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
}

.property-information .icon-information{
    width: 3%;
    height: 1%;
}

.property-information a{
    width: 36em;
}

.sales-projection{
    font-weight: 500;
    text-decoration: underline !important;
    padding: 0px 0px 10px 0px;  
}

.container-informations{
    position: relative;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 !important;
    margin: 0 ;
    width: 100% !important;
}

.first-informations{
    width: 70%;
    height: max-content;
    margin-bottom: .5em;
}

.first-informations p{
    font-family: "Red Hat Display", sans-serif;
    font-size: 130%;
}

.first-informations .value{
    margin-top: .3em;
    font-weight: bold;
    font-size: 2em;
}

.first-informations .icon-value{
    font-size:1em;   
}

.see-informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 2em;
    text-decoration: underline;
    cursor: pointer !important;
}

.see-informations a{
    color: #151515;
    cursor: pointer;
}

.button-container{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 1000000;
    gap: 8%;  
}

.button-container button a{
    color: #fff;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    background-color: #3D3F92;
    padding: 8px 40px;
    border-radius: 3.5px;
    border: none;
}

.button-container a{
    display: inline-block;
    color: #353535;
    font-family: "Red Hat Display", sans-serif;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid#353535;
    background-color: #fff;
    padding: 6px 40px;
    border-radius: 3.5px;
}

.loading-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    z-index: 10000000 !important;
    font-size: 2em;
}

.loader {
    width: 150px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #497EDA;
    --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {to{transform: rotate(1turn)}}

.study-level{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em 4em;
    font-size: 24px;
    padding: .5em .8em;
    color: white !important;
    border-radius: 5px;
}

.high-level{
    background-color: #28a745;
}

.medium-level{
    background-color: #ffc107;
}

.low-level{
    background-color: #fd7e14;
}

.insufficient-level{
    background-color: #dc3545;
}

.properties-used{
    margin-top: .5em;
}